  <!-- Side Navbar -->
  <nav class="side-navbar">
    <div class="side-navbar-inner">
      <!-- Sidebar Header    -->
      <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
        <!-- User Info-->
        <div class="sidenav-header-inner text-center"><img class="img-fluid rounded-circle avatar mb-3" src="img/avatar-7.jpg" alt="person">
          <h2 class="h5 text-white text-uppercase mb-0">Nathan Andrews</h2>
          <p class="text-sm mb-0 text-muted">Web Developer</p>
        </div>
        <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href="index.html">
          <p class="h1 m-0">BD</p></a>
      </div>
      <!-- Sidebar Navigation Menus--><span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Main</span>
      <ul class="list-unstyled">                  
        <li class="sidebar-item"><a class="sidebar-link" href="index.html"> 
            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
              <use xlink:href="#real-estate-1"> </use>
            </svg>Home </a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="forms.html"> 
            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
              <use xlink:href="#survey-1"> </use>
            </svg>Forms </a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="charts.html"> 
            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
              <use xlink:href="#sales-up-1"> </use>
            </svg>Charts </a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="tables.html"> 
            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
              <use xlink:href="#portfolio-grid-1"> </use>
            </svg>Tables </a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse"> 
            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
              <use xlink:href="#browser-window-1"> </use>
            </svg>Example dropdown </a>
          <ul class="collapse list-unstyled " id="exampledropdownDropdown">
            <li><a class="sidebar-link" href="#">Page</a></li>
            <li><a class="sidebar-link" href="#">Page</a></li>
            <li><a class="sidebar-link" href="#">Page</a></li>
          </ul>
        </li>
        <li class="sidebar-item"><a class="sidebar-link" href="login.html"> 
            <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
              <use xlink:href="#disable-1"> </use>
            </svg>Login page </a></li>
        <li class="sidebar-item"><a class="sidebar-link" href="#!"> 
            <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
              <use xlink:href="#imac-screen-1"> </use>
            </svg>Demo
            <div class="badge bg-warning">6 New</div></a></li>
      </ul><span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Second menu</span>
      <ul class="list-unstyled py-4">
        <li class="sidebar-item"> <a class="sidebar-link" href="#!"> 
            <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
              <use xlink:href="#chart-1"> </use>
            </svg>Demo</a></li>
        <li class="sidebar-item"> <a class="sidebar-link" href="">
            <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
              <use xlink:href="#imac-screen-1"> </use>
            </svg>Demo
            <div class="badge bg-info">Special</div></a></li>
        <li class="sidebar-item"> <a class="sidebar-link" href=""> 
            <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
              <use xlink:href="#quality-1"> </use>
            </svg>Demo</a></li>
        <li class="sidebar-item"> <a class="sidebar-link" href=""> 
            <svg class="svg-icon svg-icon-xs svg-icon-heavy me-2">
              <use xlink:href="#security-shield-1"> </use>
            </svg>Demo</a></li>
      </ul>
    </div>
  </nav>